body {
    padding-left: 15px;
}

h1 a {
    color: white;
    font-family: 'Lobster';
    text-decoration: none;
}

header {
    background-color: darkslategray;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
}

.image-boundary {
    height: 80px;
    width: 30px;
}
