body {
    padding-left: 1.5rem;
    padding-top: 8rem;
}

h1 a {
    color: white;
    font-family: 'Comfortaa';
    text-decoration: none;
}

h2 {
    font-family: 'Comfortaa';
}

.navbar, .carousel-inner {
    font-family: 'Comfortaa';
}

img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
}

.image-boundary {
    height: 100px;
    width: 100px;
}

.tree {
    margin-bottom: 8rem;
}

.apples, .pears, .plums {
    color: white;
    padding: 1rem;
}

.apples {
    background-color: rgb(153,50,50);
}

.pears {
    background-color: rgb(58, 104, 58);
}

.plums {
    background-color: rgb(85, 35, 85);
}
