{% load staticfiles %}
{% load bootstrap_toolkit %}
<head>
    <title>
        {% block title %}
            Fiddleford Fruit
        {% endblock title %}
    </title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
<body>
        <header>
                <div class="navbar navbar-fixed-top">
                        <div class="navbar-inner">
                            <div class="container">
                                    <a class="brand" href="/">Fiddleford Fruit</a>
                         <ul class ="nav">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'fruit' %}">Fruit</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
