{% extends 'base.html' %}
{% block title %}
    Fruit - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Fruit</h1>
    <div class="tree">
        <div class="row">
        <h2 class="col-md-12 apples">Apples</h2>
            {% for apple in apples %}
            <div class="col-md-4">
                <h3>
                    <a href="{% url 'tree_detail' slug=apple.slug %}">
                        {{ apple.variety }}
                    </a>
                </h3>
                <p>Type: {{ apple.type }}</p>
                <p>Harvest: {{ apple.harvest }}</p>
                <p>Taste: {{ apple.taste|default:"---" }}</p>
            </div>
        {% endfor %}
        <h2 class="col-md-12 pears">Pears</h2>
            {% for pear in pears %}
            <div class="col-md-4">
                <h3>
                    <a href="{% url 'tree_detail' slug=pear.slug %}">
                        {{ pear.variety }}
                    </a>
                </h3>
                <p>Type: {{ pear.type }}</p>
                <p>Harvest: {{ pear.harvest }}</p>
                <p>Taste: {{ pear.taste|default:"---" }}</p>
            </div>
        {% endfor %}
        <h2 class="col-md-12 plums">Plums</h2>
            {% for plum in plums %}
            <div class="col-md-4">
                <h3>
                    <a href="{% url 'tree_detail' slug=plum.slug %}">
                        {{ plum.variety }}
                    </a>
                </h3>
                <p>Type: {{ plum.type }}</p>
                <p>Harvest: {{ plum.harvest }}</p>
                <p>Taste: {{ plum.taste|default:"---" }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
