{% extends 'base.html' %}
{% block title %}
    Fruit - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Fruit</h1>
    <h2>Apples</h2>
    {% for apple in apples %}
        <h3>
            <a href="{% url 'tree_detail' slug=apple.slug %}">
                {{ apple.variety }}
            </a>
        </h3>
        <p>{{ apple.type }}</p>
        <p>{{ apple.harvest }}</p>
        <p>{{ apple.taste }}</p>
    {% endfor %}
    <h2>Pears</h2>
    {% for pear in pears %}
        <h3>
            <a href="{% url 'tree_detail' slug=pear.slug %}">
                {{ pear.variety }}
            </a>
        </h3>
        <p>{{ pear.type }}</p>
        <p>{{ pear.harvest }}</p>
        <p>{{ pear.taste }}</p>
    {% endfor %}
    <h2>Gages</h2>
    {% for gage in gages %}
        <h3>
            <a href="{% url 'tree_detail' slug=gage.slug %}">
                {{ gage.variety }}
            </a>
        </h3>
        <p>{{ gage.type }}</p>
        <p>{{ gage.harvest }}</p>
        <p>{{ gage.taste }}</p>
    {% endfor %}
{% endblock content %}
