{% extends 'base.html' %}
{% load humanize %}

{% block title %}
  Home - {{ block.super }}
{% endblock title %}

{% block content %}
<div id="carouselHeader" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
    <li data-target="#carouselHeader" data-slide-to="1"></li>
    <li data-target="#carouselHeader" data-slide-to="2"></li>
    <li data-target="#carouselHeader" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="d-block img-fluid" src="../static/images/apple_tree.jpg" alt="Fiddleford Orchard">
      <div class="carousel-caption d-none d-md-block">
        <h2>Fiddleford Orchard</h2>
      </div>
    </div>
    <div class="item">
      <img class="d-block img-fluid" src="../static/images/apple_pear_sign.jpg" alt="Apples and Pears">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h2>Apples and Pears</h2>
        <p>(and Plums)</p> -->
      </div>
    </div>
    <div class="item">
      <img class="d-block img-fluid" src="../static/images/tree_apples.jpg" alt="Cider and Perry">
      <div class="carousel-caption d-none d-md-block">
        <h2>Cider Making</h2>
      </div>
    </div>
    <div class="item">
      <img class="d-block img-fluid" src="../static/images/tree_shaking.jpg" alt="Cider and Perry">
      <div class="carousel-caption d-none d-md-block">
        <h2>Tree Shaking</h2>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carouselHeader" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
  <a class="right carousel-control" href="#carouselHeader" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
</div>

<div class="row">
    <div class="col-md-4 text-center">
      <h2>{{ trees.count }}</h2>
      <h2>Trees</h2>
    </div>
    <div class="col-md-4 text-center">
        <h2>{{ varieties.count }}</h2>
        <h2>Varieties</h2>
    </div>
    <div class="col-md-4 text-center">
        <h2>{{ months.count }}</h2>
        <h2>Harvest Months</h2>
    </div>
</div>

<div class="row">
  <div class="col-md-3 text-center">
    <h2>{{ eaters.count }}</h2>
    <h2>Eaters</h2>
  </div>
  <div class="col-md-3 text-center">
      <h2>{{ brewers.count }}</h2>
      <h2>Brewers</h2>
  </div>
  <div class="col-md-3 text-center">
      <h2>{{ juicers.count }}</h2>
      <h2>Juicers</h2>
  </div>
  <div class="col-md-3 text-center">
      <h2>{{ cookers.count }}</h2>
      <h2>Cookers</h2>
  </div>
</div>
{% endblock content %}
