{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Home - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Apples and Pears</h1>
    <h2>(and Gages)</h2>
    <div class="image-boundary">
        <img src="../static/images/press.jpg">
    </div>

    {% for tree in trees %}
        {% if tree.fruit == "Apple" %}
            <h2>Apples</h2>
            <h3>{{ tree.variety }}</h3>
            <p>{{ tree.type }}</p>
            <p>{{ tree.fruit }}</p>
            <p>{{ tree.harvest }}</p>
            <p>{{ tree.taste }}</p>
            <p>{{ tree.description }}</p>
        {% endif %}
    {% endfor %}
    {% for tree in trees %}
        {% if tree.fruit == "Pear" %}
            <h2>Pears</h2>
            <h3>{{ tree.variety }}</h3>
            <p>{{ tree.type }}</p>
            <p>{{ tree.fruit }}</p>
            <p>{{ tree.harvest }}</p>
            <p>{{ tree.taste }}</p>
            <p>{{ tree.description }}</p>
        {% endif %}
    {% endfor %}


{% endblock content %}
